body {
  font-family: 'Oswald', sans-serif;
}

header {
  top: 0px;
  width: 100%;
  position: absolute;
}

.navbar {
  background-color:  var(--4, #DEBCBE);
}

.menu {
  background-color: var(--4, #DEBCBE);
}

.menuElement {
  box-shadow: 0px 2.6188px 2.6188px 0px rgba(0, 0, 0, 0.25);
}

/* section0 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5%;
  gap: 3%;
  left: calc(50% - 440px/2 - 1px);
  justify-content: space-between;
} */

h1 {
  width: 10%;
  height: 84%;
  font-family: 'Pacifico', cursive;
  font-style: normal;
  color: #000000;
}

main {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.flex{
  display: flex;
  flex-flow: nowrap;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, minmax(0, 15fr));
  margin-top: 5rem;
}

.carrossel {
  position: center;
  width: 100%;
  height: 400px;
  margin-top: 12%;
  margin-bottom: 5%;
  background: rgba(255, 225, 225, 0.21);
  box-shadow: 0 0 50px rgba(0.5, 0.5, 0.5, 0.5);
  border-radius: 25px;
}

.video {
  margin-top: 20px;
  width: 70%;
  height: 90%;
}

.noticias-container {
  width: 100%;
  height: 60%;
  left: 0px;
  margin-top: 10px;
  background: rgba(255, 225, 225, 0.81);
  border: 25px;
  margin-bottom: 30px;
  gap: 1.25rem;
}

.noticias {
  font-size: 1em;
  box-sizing: border-box;
  display: inline-grid;
  width: 30%;
  height: 100%;
  border: 1px solid rgba(190, 139, 139, 0.81);
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

p {
  line-height: 1.5;
}

.p_ajust {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h2 {
  line-height: 1;
  font-size: 2em;
}

.contaier {
  text-align: center;
  width: 100%;
  height: 50%;
  left: 0px;
  padding: 30px;
  margin-top: 250px;
  border-radius: 25%;
  gap: 1.5rem;
}

.indicacoes {
  text-align: center;
  box-sizing: border-box;
  display: inline-grid;
  column-gap: 80px;
  border: 1px solid rgba(190, 139, 139, 0.81);
  border-radius: 25px;
}

.a {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}

.a:hover {
  text-decoration: overline pink;
}

/* section1 {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 46px;
  display: flex;
  align-items: left;
  text-align: center;
  color: #FFFFFF;
  padding-left: 15px;
  width: 300px
} */

.para {
  margin: 10px;
}
/* 
footer {
  font-family: 'Oswald', sans-serif;
  background-color: rgba(190, 139, 139, 0.81);
  color: #FFFFFF;
  padding-right: 40px;
  padding-left: 35px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
} 

.footer-column {
  flex: 1;
  margin-right: 20px;
  width: 100px;
}*/

h3 {
  margin-bottom: 20px;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  width: 500px;
}

/* .footer-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.footer-icons li {
  display: inline-block;
  margin-right: 10px;
  text-align: left;
} 

.footer-icons ul {
  width: 50px;
  text-align: left;
}

svg {
  color: #FFFFFF;
  text-align: left;
}

svg :hover {
  color: deeppink;
}*/

.scroller {
  display: flex;
  padding-top: 2rem;
}

.button {
  font-family: 'Oswald', sans-serif;;
  font-size: 25px;
}

/* Estilos para telas com largura de até 600 pixels */
@media screen and (max-width: 600px) {
  header {
    width: 100%;
    position: absolute;
  }

  section {
    flex-direction: row;
    left: 0;
    align-items: center;
    gap: 15px;
  }

  h1 {
    font-size: 30px;
    text-align: center;
    width: auto;
    height: auto;
    left: auto;
    top: auto;
    margin: 0;
  }

  .md\:grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .carrossel {
    height: 300px;
    margin-top: 100%;
  }

  .video {
    width: 90%;
    height: 70%;
  }

  .noticias-container {
    height: auto;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .noticias {
    width: 90%;
  }

  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .indicacoes-container {
    margin-top: 15px;
    padding: 15px;
  }

  .recomendacoes {
    width: 90%;
    column-gap: 30px;
  }

  section1 {
    font-size: 25px;
    line-height: 35px;
    padding-left: 0;
    width: auto;
  }

  h3 {
    font-size: 30px;
    width: auto;
  }

  .scroller {
    text-align: left;
    gap: 3rem;
    overflow-x: scroll;
    display: flex;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
  }

  .d1 {
    display: flex;
    flex-direction: column;
  }
}



/* Estilos para telas com largura entre 601 pixels e 900 pixels */
@media screen and (min-width: 601px) and (max-width: 900px) {
  section {
    gap: 20px;
    left: calc(50% - 440px / 2 - 1px);
  }

  .frame1 {
    width: 100%;
  }

  .carrossel {
    margin-top: 12%;
  }

  .video {
    width: 80%;
    height: 80%;
  }

  .noticias {
    width: 40%;
  }

  .scroller {
    text-align: left;
    gap: 3rem;
    overflow-x: scroll;
    display: flex;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
  }
}

/* Estilos para telas com largura acima de 900 pixels */
@media screen and (min-width: 901px) {
  section {
    gap: 30px;
    left: calc(50% - 440px / 2 - 1px);
  }

  .frame1 {
    width: 440px;
  }

  .carrossel {
    margin-top: 12%;
  }

  .video {
    width: 70%;
    height: 90%;
  }

  .noticias {
    width: 30%;
  }

  .container{
    gap: 2%;
    margin-left: 5%;
  }
}
